/* Arrow Style */
.arrow {
  border: solid #000000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.arrowDouble {
  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  position: relative;
}

.arrowDouble::after {
  content: "";
  border: solid;
  border-color: inherit;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  inset: 0px;
  left: 6px;
  top: 6px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* Main Styles */
.paginationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstPageActive,
.lastPageActive {
  margin: 8px;
  text-align: center;
  color: #464646;
  font-weight: 400;
  transition: all 0.2s linear;
}
.firstPageInactive,
.lastPageInactive {
  margin: 8px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.2s linear;
}

.firstPageInactive:hover,
.lastPageInactive:hover {
  font-weight: 700;
}

.pageNoActive {
  margin: 4px;
  padding: 0px 6px;
  text-align: center;
  color: #ffffff;
  background-color: #161616;
  font-weight: 600;
  border: 1px solid #161616;
  border-radius: 4px;
  transition: all 0.2s ease-in;
}

.pageNoInactive {
  margin: 4px;
  padding: 0px 6px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  transition: all 0.2s ease-in;
}

.pageNoInactive:hover {
  color: white;
  background-color: #000000;
}

/* ---------- For Small Devices ----------- */

/* ---------------- max-width: 500px ------------------ */

@media only screen and (max-width: 500px) {
  .arrow {
    display: none;
  }

  .firstPageActive,
  .lastPageActive {
    margin: 6px;
  }
  .firstPageInactive,
  .lastPageInactive {
    margin: 6px;
  }
}

/* ---------------- max-width: 420px ------------------ */

@media only screen and (max-width: 420px) {
  .arrow {
    display: none;
  }

  .arrowDouble {
    border: solid rgb(0, 0, 0);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
  }

  .arrowDouble::after {
    content: "";
    border: solid;
    border-color: inherit;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    position: absolute;
    inset: 0px;
    left: 3px;
    top: 3px;
  }

  .firstPageActive,
  .lastPageActive {
    margin: 4px;
  }
  .firstPageInactive,
  .lastPageInactive {
    margin: 4px;
  }

  .pageNoActive {
    margin: 2px;
    padding: 0px 5px;
    border: 0px;
    font-size: 16px;
  }

  .pageNoInactive {
    margin: 2px;
    padding: 0px 5px;
    border: 0px;
    font-size: 16px;
  }
}

/* ---------------- max-width: 324px ------------------ */

@media only screen and (max-width: 324px) {
  .arrow {
    display: none;
  }

  .arrowDouble {
    border: solid rgb(0, 0, 0);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
  }

  .arrowDouble::after {
    content: "";
    border: solid;
    border-color: inherit;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    position: absolute;
    inset: 0px;
    left: 3px;
    top: 3px;
  }

  .firstPageActive,
  .lastPageActive {
    margin: 3px;
  }
  .firstPageInactive,
  .lastPageInactive {
    margin: 3px;
  }

  .pageNoActive {
    margin: 1px;
    padding: 0px 4px;
    border: 0px;
    font-size: 15px;
  }

  .pageNoInactive {
    margin: 1px;
    padding: 0px 4px;
    border: 0px;
    font-size: 15px;
  }
}
